@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}
body {
  color: white;
  background: #121212;
}

.primary {
  @apply text-white bg-[#121212];
}

.primary-bg {
  @apply bg-white text-[#121212];
}

.secondary {
  @apply text-[#dfa84d] bg-[#121212]
}

.secondary-bg {
  @apply bg-[#dfa84d] text-[#121212]
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.win {
  @apply bg-green-400 text-slate-900;
}

.loss {
  @apply bg-red-400 text-slate-900;
}

.label {
  @apply rounded-xl p-1
}

.level {
  @apply bg-slate-900 text-white
}
